# See https://www.dartlang.org/guides/libraries/private-files

.dart_tool/
.packages
build/
pubspec.lock

# Avoid committing generated Javascript files:
*.dart.js
*.info.json      
*.js            
*.js_
*.js.deps
*.js.map
.idea/*
android/*
ios/*
